/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/* Box Model */
*{
  box-sizing: border-box;
}
/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: "Poetsen One", sans-serif;
  background-image: url(../assets/img/stacked-steps-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;            
  margin: 0;                
  flex-direction: column; 
}

.container{
  margin: 2rem;
}

.app{
  background-color: white;
  width: 300px;
  padding: 1em 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  border: 0.5em solid #FA68A7;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 600px) {
  .app {
    padding: 1.5em 2em;
  }
}

@media only screen and (min-width: 1000px) {
  .app {
    padding: 1.5em 3em;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}

h1,h2,h3{
  color: #FA68A7;
}

#getDrink{
  margin-top: auto;
  font-family: "Poetsen One", sans-serif;
  color: white;
  border: 0.1em solid #FA68A7;
  background-color: #FA68A7;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
  justify-self: flex-end;
}

#drinkName, h1{
  text-align: center;
}

picture{
  align-self: center;
}

#drinkImg{
  display: block;
  max-width: 150px;
  border-radius: 1em;
  border: 0.5em solid #FA68A7;
}

#drinkIngredients{
  list-style-type: circle;
}

.socials{
  display: flex;
  justify-content: center;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  margin: 0 0.25em;
}